<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>OTK OFF</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	
</head>
<body style="background: #f2f2f2">
	<!--run('Black clover', 'Javivi', caps, 'jpeg')-->
	<div class="container" >
		<div class="pt-5 pb-5">
			<div class="container text-center">
				<h1 class="display-2">OTK-OFF</h1>
				<p class="lead">Publica tu manga</p>
			</div>
		</div>
		<div class="card shadow p-3 mb-5 bg-white rounded">
			<div class="card-body">
				<form action="/publicarManga/" method="post" enctype="multipart/form-data">
					{% csrf_token %} 
					<div class="form-group">
						<label for="nombreManga">Nombre del manga</label>
						<input type="text" class="form-control" id="nombreManga" placeholder="Manga..." name="nombreManga" required>
					</div>
					<div class="form-group">
						<label for="nombreTraductor">Nombre del traductor</label>
						<input type="text" class="form-control" id="nombreTraductor" placeholder="Traductor..." name="nombreTraductor" required>
					</div>
					<div class="form-row">
						<div class="form-group col-6">
							<label for="numeroCapitulo">Numero del capitulo</label> 
							<input type="number" class="form-control" id="numeroCapitulo" placeholder="Capitulo..." name="numeroCapitulo" required>
						</div>
						<div class="form-group col-md-6">
							<label for="formatoCapitulo">Formato</label>
							<select class="form-control" id="formatoCapitulo" name="formatoCapitulo" required>
								<option value="" selected>Seleccione formato...</option>
								<option value="jpg">jpg</option>
								<option value="png">png</option>
								<option value="jpeg">jpeg</option>
							</select>
						</div>
					</div>
					<div class="form-row mt-2 pb-2">
						<label for="files" class="pr-4">Seleccionar imagenes:</label>
						<input type="file" id="files" name="caps" multiple required><br><br>
					</div>

					<button type="submit" class="btn btn-dark btn-block mt-2">Publicar</button>
				</form>
			</div>
		</div>
		{% if mensaje == 'success' %}
		<div class="alert alert-success mt-3 shadow p-4 mb-5 rounded" role="alert">
			Manga publicado con exito.
		</div>
		{% endif %}
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>