{% extends "paginaInicio.html" %}

{% load static %}
	{% block content %}
	<div class="container mt-5">
		<div class="jumbotron jumbotron-fluid jumboPad">
			<div class="row align-items-center">
				<div class="col-8">
					<div class="container">
						<h1 class="display-4 titulo">Bienvenido a OTKOff</h1>
						<p class="lead">Repositorio para la lectura de diversos mangas</p>
					</div>
				</div>
				<div class="col-4">
					<img src="{% static '/img/chara_sorey.png' %}" class="img-fluid">
					
				</div>
			</div>
		</div>
		<ul class="list-group mb-5">
			{% for manga in mangas %}
			<li class="list-group-item">
				<div class="row align-items-center">
					<div class="col-8 nombreManga">
						{{manga}}
					</div>
					<div class="col-4">
						<form action="/verManga/" method="get">
							{% csrf_token %} 						
							<button type="submit" class="botonManga float-right"  name='nombreManga' value="{{manga}}">
								<i class="fa fa-caret-right iconoManga"></i>
							</button>
						 </form>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endblock %}
