{% extends "paginaInicio.html" %}
{% load static %}
	{% block content %}
	<div class="container">
		<div class="cardManga mt-5 mb-3 p-2">
			<div class="d-flex justify-content-between">
				<div>
					<form action="/verManga/" method="get">
						{% csrf_token %} 
						<button type="submit" class="botonManga float-right" name='nombreManga' value="{{manga}}"><i
							class="fa fa-caret-left iconoManga"></i></button>
					 </form>	
				</div>
				<div>
					<div class="container">
						<h1 class="titulos">{{manga}}</h1>
					</div>
				</div>
				<div></div>
			</div>
			<div class="row align-items-center">
				<div class="col-12">
					<div class="container text-center">
						<p class="titulos">Capitulo {{numero_capitulo}} → Subido por {{traductor}}</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			{% for pagina in capitulo %}
				<img src="{% static '/' %}{{manga}}/{{numero_capitulo}}/{{traductor}}/{{pagina}}" class="img-fluid imagenes">
				
			{% endfor %}
		</div>
	</div>
	{% endblock %}
