{% extends "paginaInicio.html" %}
{% load static %}
	{% block content %}
	<div class="container">
		<div class="mt-5 mb-5 d-flex justify-content-between">
			<div>
				<form action="/" method="get">
					{% csrf_token %} 
					<button type="submit" class="botonManga float-right"><i
						class="fa fa-caret-left iconoManga"></i></button>
				 </form>
			</div>
			<div><h1>{{manga}}</h1></div>
			<div></div>
		</div>
		<div class="accordion" id="accordionExample">
			{% for cap in capitulos %}
			<div class="card">
				<div class="card-header" id="headingOne">
					<div class="d-flex justify-content-between">
						<div>	
							<h2 class="mb-0">
								<button class="btn text-left botonCollapse" type="button" data-toggle="collapse"
									data-target="#collapse{{ cap.0 }}" aria-expanded="false" aria-controls="collapseOne">
									<i class="fa fa-angle-down"></i>
									Capitulo {{cap.0}}
								</button>
							</h2>
						</div>
					</div>
				</div>

				<div id="collapse{{ cap.0 }}" class="collapse multi-collapse">
					<div class="card-body">
						<ul class="list-group">
							{% for traductores in cap.1 %}
							<li class="list-group-item listaTraductor">
								<div class="row align-items-center">
									<div class="col-8 nombreManga">
										{{traductores}}
									</div>
									<div class="col-4">
										<form action="/verCapitulo/" method="get">
											{% csrf_token %} 
											<button type="submit" class="botonManga float-right" name='manga' value="{{manga}}/{{cap.0}}/{{traductores}}"><i
												class="fa fa-caret-right iconoManga"></i></button>
										 </form>										
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}