.botonManga{
    background:none;
    border:none;
    text-decoration: none;
}
.botonManga:focus{
    border:none!important;
    outline:0!important;
}
.iconoManga{
    font-size:48px;
    color:#343a40;
}
.iconoManga:active{
    text-shadow: 1px 1px 1px #343a40;
}
.nombreManga{
    color:#343a40;

}
.titulo{
    color:#343a40;
}
.container .jumbotron{
    padding-bottom: 0 !important;
}

.listaTraductor{
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.card-body{
    padding: 0;
}
.botonCollapse{
    text-decoration: none !important;
}

.botonCollapse:focus, .botonCollapse:active {
    outline: none !important;
    box-shadow: none !important;
  }

.card-header{
    padding-left: 0;
}
.iconoCascada{
    font-size:30px;
    color:#343a40;
}

.cardManga{
    background:#e9ecef;
    border-radius: 8px;
}
.titulos{
    font-weight: bold;
    color:#343a40;
}
.tituloNav{
    font-weight: bold;
}
.imagenes{    
    width: 1343px;
    height: auto;
}
.card-header, .list-group-item{
    padding-top:1px;
    padding-bottom: 1px;
}